{#
    /**
     * @file
     * Default theme implementation for main view template.
     *
     * Available variables:
     * - attributes: Remaining HTML attributes for the element.
     * - css_name: A css-safe version of the view name.
     * - css_class: The user-specified classes names, if any.
     * - header: The optional header.
     * - footer: The optional footer.
     * - rows: The results of the view query, if any.
     * - empty: The content to display if there are no rows.
     * - pager: The optional pager next/prev links to display.
     * - exposed: Exposed widget form/info to display.
     * - feed_icons: Optional feed icons to display.
     * - more: An optional link to the next page of results.
     * - title: Title of the view, only used when displaying in the admin preview.
     * - title_prefix: Additional output populated by modules, intended to be
     *   displayed in front of the view title.
     * - title_suffix: Additional output populated by modules, intended to be
     *   displayed after the view title.
     * - attachment_before: An optional attachment view to be displayed before the
     *   view content.
     * - attachment_after: An optional attachment view to be displayed after the
     *   view content.
     * - dom_id: Unique id for every view being printed to give unique class for
     *   Javascript.
     *
     * @see template_preprocess_views_view()
     *
     * @ingroup themeable
     */
    #}
    {%
        set classes = [
            dom_id ? 'js-view-dom-id-' ~ dom_id,
        ]
    %}
    <div{{ attributes.addClass(classes) }}>
        {{ title_prefix }}
        {{ title_suffix }}
        <div class="bg_img" style="background-image: url({{ file_url(items.0.uri) }});"></div>
        <div class="container">
            <h2 class="title text-center">{{ 'Top Games' | t }}</h2>
            <div class="swiper" id="top_games">
                <div class="swiper-wrapper">
                    {% for item in items %}
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="{{ file_url(item.uri) }}" alt="{{ item.alt }}">
                            <h3 class="game_title">{{ item.title }}</h3>
                            <div class="inner">
                                <a href="{{ item.link }}" class="detail"><img src="/themes/pegasus/images/detail.png" alt="detail"></a>
                                {% if item.facebook %}
                                <a href="{{ item.facebook }}" class="facebook"><img src="/themes/pegasus/images/facebook.png" alt="facebook"></a>
                                {% endif %}
                                {% if item.appStore %}
                                <a href="{{ item.appStore }}" class="facebook"><img src="/themes/pegasus/images/app-store.png" alt="app-store"></a>
                                {% endif %}
                                {% if item.googlePlay %}
                                <a href="{{ item.googlePlay }}" class="googlePlay"><img src="/themes/pegasus/images/google-play.png" alt="google-play"></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
        
    
    </div>