<div class="main_header">
    <div class="container">
        <div class="logo">
            <a href="{{ url('<front>') }}">
                <img src="{{ logo }}" alt="pegasus" height="50" width="200">
            </a>
        </div>
        <div class="main_menu">
            <a href="{{ url('<front>') }}" class="d-block d-lg-none">
                <img src="{{ logo }}"" alt="pegasus" height="40" width="180">
            </a>
            {{ drupal_menu('main') }}
        </div>
        <div class="open_menu_mobile d-block d-lg-none"><i class="fad fa-bars"></i></div>
        <div class="bg_overlay"></div>
    </div>
</div>