<div{{ attributes }}>
    {{ title_prefix }}
    {{ title_suffix }}
    <a href="/" class="logo-ft">
        <img src="{{ file_url(elements.content['#block_content'].field_image.0.entity.uri.value) }}" alt="{{ elements.content['#block_content'].field_image.0.alt }}">
    </a>
</div>